name: DockerHub Image Build and Push

on: [push]


jobs:
    docker:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                    username: ${{ secrets.DOCKER_HUB_USERNAME }}
                    password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
            
            
            - name: Build and Push Docker Image
              run: |
                    docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/my-app:latest .
                    docker push ${{ secrets.DOCKER_HUB_USERNAME }}/my-app:latest
            
            


